doctype html
html(lang='en')
  head
    include head
  body
    div.container(style='margin-top: 25px')
      div.well
        div(style='text-align: center;')
          img(src='logo-dark.png', alt='Simplicit&eacute; Software', style='width: 100%; max-width: 500px;')
      div.row
        div.col-md-12
          h1 Error
          pre!= error
      include foot