title Simplicit&eacute;&reg; monitoring
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='shortcut icon', href='favicon.ico')
link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
script(type='text/javascript', src='jquery/jquery.js')
//- script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')
style(type='text/css')
  | .container { margin-top: 25px; }
  | h1, h2 { border-bottom: solid 2px #464545; margin: 10px 0px; }
  | h1 { color: #5BC0DE; }
  | h2 { color: #00BC8C; }
  | h3 { color: #F39C12; }