doctype html
html(lang='en')
  head
    include head
  body
    div.container(style='margin-top: 25px')
      div.well
        div(style='text-align: center;')
          img(src='logo.png', alt='Simplicit&eacute; Software', style='width: 100%; max-width: 500px;')
      div.row
        div.col-md-12
          p
            a(href='')
              span.glyphicon.glyphicon-refresh(title="Refresh page")
            != '&nbsp;' + size + ' app(s)'
          h1 Applications
          table.table.table-striped
            tr
              th Name
              th Version
              th URL
              th Details
            each row in rows
              tr
                td(class=row.status !== 0 ? (row.status === 200 ? "success" : "danger") : "")= row.name
                td= row.health ? row.health.platform.version.substring(0,3) : ''
                td
                  if (row.status === 200)
                    a(href=row.url, target='_blank')= row.url
                  else
                    = row.url + (row.status !== 0 ? ' (status ' + row.status + ')' : '')
                td
                  if (row.status === 200)
                    a.btn.btn-xs.btn-success(href='?name=' + row.name, role='button') Details
      include foot