doctype html
html(lang='en')
  head
    include head
  body
    script.
      console.log("Loaded at " + new Date());
      setTimeout(function() { console.log("Reloading..."); document.location.replace("/"); }, 60000);
    div.container(style='margin-top: 25px')
      div.well
        div(style='text-align: center;')
          img(src='logo.png', alt='Simplicit&eacute; Software', style='width: 100%; max-width: 450px;')
      div.row
        div.col-md-12
          h1 Applications monitoring
          p
            a(href='/')
              span.glyphicon.glyphicon-refresh(title="Refresh page")
            != '&nbsp;' + size + ' app(s)'
          table.table.table-striped
            tr
              th Name
              th Status
              th Version
              th URL
              th Actions
            each row in rows
              tr
                td= row.name
                td(class=row.status !== 0 ? (row.status === 200 ? "success" : "danger") : "")= row.status === 0 ? (row.active == '1' ? 'Pending...' : '') : row.status
                td= row.health ? row.health.platform.version.substring(0,3) : ''
                td
                  a(href=row.url, target='_blank')= row.url
                td
                  div.btn-group(role='group')
                    if (row.active == '1')
                      a.btn.btn-xs.btn-warning(href='/?name=' + row.name + '&action=stop', role='button') Stop monitoring
                    else
                      a.btn.btn-xs.btn-default(href='/?name=' + row.name + '&action=start', role='button') Start monitoring
                    if (row.status === 200)
                      a.btn.btn-xs.btn-info(href='/?name=' + row.name + '&action=health', role='button') Details
      include foot